@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --green: rgb(84, 230, 175);
    --blue-950: rgb(18, 23, 37);
    --blue-900: rgb(44, 52, 75);
    --blue-600: rgb(90, 102, 138);
    --blue-300: rgb(194, 203, 229);
    --white: rgb(255, 255, 255);
    --red: rgb(251, 60, 60);
}

body,
* {
    font-family: "Chivo", sans-serif;
}

body {
    min-height: 100vh;

}

.text-1 {
    font-size: clamp(32px, 5vw, 48px);
    line-height: 120%;
    font-weight: 300;
    text-transform: uppercase;
}


.text-2 {
    font-size: clamp(14px, 3vw, 18px);
    line-height: 150%;
    font-weight: 300;
}

.text-3 {
    font-size: 14px;
    line-height: 200%;
    font-weight: 700;
}

.text-4 {
    font-size: 12px;
    font-weight: 700;
}


body {
    background: var(--blue-950);
    padding-left: 10.5vw;
    padding-bottom: 8.8vw;
    padding-top: 8.8vw;

}

main {
    background: url('/assets/desktop/image-host.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% + 66px) center;
    position: relative;


}

.logo_container {
    width: 28vw;
    padding-bottom: clamp(56px, 8vw, 104px);
    background: var(--blue-950);
}


.logo {
    height: 56px;
}

.content {
    padding-top: 88px;
    padding-right: clamp(40px, 5vw, 88px);
    background: var(--blue-950);
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 55vw;
}

h1 {
    color: var(--green);
    margin-bottom: 24px;
}

h1 span {
    color: var(--white);
}

p {
    color: var(--blue-300);
    max-width: 40ch;
}

form {
    position: relative;
    width: 100%;
    max-width: 448px;
}

input {
    background-color: var(--blue-900);
    padding: 12px 24px;
    border-radius: 999px;
    height: 52px;
    outline: none;
    color: white;
    border: 2px solid var(--blue-900);
    transition: all 0.3s ease;
    width: 100%;
}

input::placeholder {
    color: rgba(255, 255, 255, 50%);
}

button {
    background-color: var(--green);
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 28px;
    color: var(--blue-950);
    position: absolute;
    width: 40%;
    max-width: 172px;
    height: 44px;
    border: none;
    right: 4px;
    top: 4px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}


button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), var(--green);
    box-shadow: 0px 2px 4px 0px rgba(84, 230, 175, 0.14);
}


.sponsors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.dots_pattern {
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translateY(50%);
}

input:focus {
    border-color: var(--green);
}

input.error {
    border-color: var(--red);
}

p.error {
    color: var(--red);
    margin-top: 8px;
    padding-left: 24px;
}