@media (max-width: 768px) {
    body {
        padding-left: 2.75rem;
        padding-top: 0px;
    }

    main {
        background: url('/assets/tablet/image-host.jpg');
    }

    .logo_container {
        padding-top: clamp(6.875rem, 10vw, 9.75rem);
    }

    .content {
        width: fit-content;
        min-width: 70vw;
        max-width: 90vw;
    }

    h1 {
        max-width: 40vw;
    }

    .dots_pattern {
        display: none;
    }

}